#homeButton, #backButton, #profileButton, #purchaseHistoryButton, #shoppingCartButton {
	-fx-background-color:#FFF;
	-fx-background-radius:0;
	-fx-border-color:rgba(26, 188, 156,1.0);
	-fx-border-width:0px 0px 2px 0px; 
	
}

#homeButton, #backButton {

	
}

#homeButton:hover, #backButton:hover, #profileButton:hover, #purchaseHistoryButton:hover, #shoppingCartButton:hover {
	-fx-border-width:0px 0px 5px 0px;
	-fx-text:#FFF;
	
}
#homeButton:pressed, #backButton:pressed, #profileButton:pressed, #purchaseHistoryButton:pressed, #shoppingCartButton:pressed {
	-fx-background-color:#ecf0f1;
	
	-fx-effect:innershadow(gaussian,#ecf0f1,3,1,0,0);
}

#baseStackPane{
	-fx-background-color:#FFF;
}

.text-field {
	-fx-background-color:#FFF;
	-fx-background-radius:0px 0px 0px 0px;
	-fx-border-width:0px 1px 1px 0px;
	-fx-border-color:rgba(52, 152, 219,0.3);;
	-fx-border-style:solid;

}

#checkoutView {
	-fx-background-color: darkorchid;
}

#confirmView {
    -fx-background-color: deeppink;
}

#allCategories {
	-fx-border-insets:50%;
}

#categoryGridPane {
    -fx-background-image:url(restaurant_bright.png);
}

#productGridPane{
    -fx-background-image:url(restaurant_bright.png);
}

#profileView {
    -fx-background-image:url(restaurant_bright.png);
}

#mainPane {
		-fx-background-image:url(restaurant.png);
}

#baseStackPane {
		-fx-background-image:url(restaurant.png);
		-fx-text-color:#FFF;

}

#shoppingCart {
	-fx-background-color: chartreuse;
}

#profileAnchorPane {
	/*-fx-background-color:#FFF;
	-fx-border-width:2px 0px 0px 0px;
	-fx-border-style:solid;
	-fx-border-color:#2c3e50;
*/
}

#personalnfoPanel, #paymentInfoPanel {
	-fx-background-color:#FFF;
	-fx-border-width:0px 0px 5px 0px;
	-fx-border-color:rgba(52, 152, 219,0.3);;
	-fx-border-style:solid;

}

#personalInfoLabel, #paymentInfoLabel {
	-fx-background-color:#FFF;
	
	-fx-border-width:0px 0px 2px 0px;
	-fx-border-color:rgba(52, 152, 219,0.3);
	-fx-border-style:solid;
	
}

#saveButton, #cancelButton, #addToCartButton, #purchaseButton{

	-fx-background-radius:0px 0px 0px 0px;
	-fx-background-color:#16a085;
	-fx-text-color:#FFF;
	

}

#saveButton:hover, #cancelButton:hover, #addToCartButton:hover, #purchaseButton:hover {
	-fx-background-color:#1abc9c;
	-fx-effect: innershadow(gaussian,rgba(52, 73, 94,0.4),3,1,0,0);

}

#saveButton:pressed, #cancelButton:pressed, #addToCartButton:pressed, #purchaseButton:pressed {
	-fx-background-color:#16a085;
	-fx-effect: innershadow(gaussian,#16a085,3,1,0,0);
}

#categoryPane {
	-fx-border-width:5px;
	-fx-border-color:rgba(52, 152, 219,0.3);
	-fx-border-style:solid;
	-fx-background-color:#FFF;

}

#productPane {
	-fx-border-width:2px;
	-fx-border-color:rgba(52, 152, 219,0.3);
	-fx-border-style:solid;
	-fx-background-color:#FFF;
	-fx-padding:20px;
	-fx-background-insets:20px;
}


