#homeButton, #backButton, #profileButton, #purchaseHistoryButton, #shoppingCartButton {
	-fx-background-color:#FFF;
	-fx-background-radius:0;
	-fx-border-color:#2c3e50;
	-fx-border-style:dotted;
	-fx-border-width:1px;
}

#homeButton, #backButton {
	-fx-border-style:solid;
}

#homeButton:hover, #backButton:hover, #profileButton:hover, #purchaseHistoryButton:hover, #shoppingCartButton:hover {
	-fx-background-color:#ecf0f1;
}

#baseStackPane{
	-fx-background-color:#FFF;
}

.text-field {
	-fx-background-color:#FFF;
	-fx-background-radius:0px 0px 0px 0px;
	-fx-border-width:0px 1px 1px 0px;
	-fx-border-color:rgba(52, 152, 219,0.3);;
	-fx-border-style:solid;

}

#allCategories {
	-fx-border-insets:50%;
}

#categoryGridPane {
    -fx-background-color:chartreuse;
}

#productGridPane{
    -fx-background-color: aqua;
}

#profileView {
    -fx-background-color: #ecf0f1;
}

#mainPane {
		-fx-background-image:url(restaurant.png);
}

#baseStackPane {
		-fx-background-image:url(restaurant.png);
		-fx-text-color:#FFF;

}

#profileAnchorPane {
	-fx-background-color:#ecf0f1;
	-fx-border-width:2px 0px 0px 0px;
	-fx-border-style:solid;
	-fx-border-color:#2c3e50;

}

#saveButton, #cancelButton{
	-fx-background-radius:0px 0px 0px 0px;
	-fx-background-color:#16a085;
	-fx-text-color:#FFF;
}
